/**
*-------------------------------------------------------------------
* Author        : Atanu Pramanik(dos.atanu@gmail.com)
* Reviewed by   : Atanu Pramanik(dos.atanu@gmail.com)
* Creation Date : 03/MAR/2017
* Modified on   : 03/MAR/2017
* Dependency    : SolaimanLipi fonts,OpenSans-Regular fonts
* Description   : Default|| Header,footer related CSS
* Execute like  : NA
*-------------------------------------------------------------------
*/

@font-face {
    font-family: 'Solaiman Lipi';
    src: url('../fonts/SolaimanLipi/solaiman_lipi.eot');
    src: url('../fonts/SolaimanLipi/solaiman_lipi.eot?') format('eot'), url('../fonts/SolaimanLipi/solaiman_lipi.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-size: 14px;
}

html,
body {
    width: 100%;
    height: 100%;
    color: #636b6f;
    background-color: #fff;
    /*background: linear-gradient(to left, #66ccff 0%, #ff9999 100%);*/
}


/**
*   Page loading || Ajax call page load style
*/

#lodding {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/loading1.gif) no-repeat 50% 50%, #fff;
    z-index: 999999;
}

#lodding1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: none;
    top: 0;
    left: 0;
    z-index: 9999;
}

.lodding-show {
    display: inline-block !important;
}


/**
*   Override legend style with bootstrap or other
*/

fieldset {
    width: 100%;
    border: 1px solid silver;
    padding: 2px 10px 10px;
    border-radius: 3px;
}

legend {
    padding: 3px;
    width: auto;
    margin-bottom: 0px;
    border: 0px;
}


/**
*  Login Modal style 
*/
.modal-sm {
    margin: 10% auto;
    max-width: 360px;
}

/*.mpdal > .modal-content > .modal-body {
    margin: 15%;
}*/


/**
*  Header style 
*/
.navbar {
    font-family: Montserrat, sans-serif;
    background-color: #fff;
    border-color: #d3e0e9;
    margin-bottom: 0px !important;
    border-radius: 0px;
    /*background-color: #09698E;
    border: 0;
    font-size: 14px !important;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);*/
    /*background: linear-gradient(to left, #66ccff 0%, #ff9999 100%);*/
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-right .form-inline {
    margin-top: 15px;
    margin-right: 10px;
    margin-left: auto;
}



/**
* Footer Style 
*/

.footer {
    /*min-height: 5%;
    max-height: 6%;*/
    bottom: 0;
    /*padding-top: 1.5%;
    background: #09698E;*/
   /* border-top: 1px solid #d3e0e9;*/
   background-color: #fff;
   /*background: linear-gradient(to left, #66ccff 0%, #ff9999 100%);*/
}

.copyright {
    float: left;
}

.copyright > p {
    padding: 5px;
    font-size: 12px;
    /*color: #fff;*/
}

.footer-menu {
    float: right;
    list-style: none;
    margin: 4px 0;
}

.footer-menu > li {
    float: left;
    margin-left: 8px;
}

.footer-menu > li > a {
    font-size: 12px !important;
    font-weight: normal;
    /*color: #FFF;*/
}


/**
*   Main body [ except header, footer ] height style
**/

.loginpage,
.registrationpage,
.forgotpass,
.getpass,
.dashboard,
.map,
.error,
.complainHistory {
    min-height: 480px;
    height: 86% !important;
    background-color: #f5f8fa;
    /*background: linear-gradient(to bottom left, #66ffff 0%, #ff6666 100%);*/
}

@media (min-height: 900px) {
    .loginpage,
    .registrationpage,
    .forgotpass,
    .getpass,
    .dashboard,
    .map,
    .error,
    .complainHistory {
        height: 86% !important;
    }
}


/*@media (max-height: 684px) {
    .loginpage, .registrationpage, .forgotpass , .getpass ,.dashboard ,.map{
        height: 65.8% !important;
    }
}*/

@media screen and (max-width: 772px) {
    .footer {
        max-height: 20%;
    }
}

@media screen and (max-width: 461px) {
    .footer {
        max-height: 30%;
    }
    /*.loginpage{
        min-height: 71% !important;
    }*/
    .block {
        padding-top: 0%;
    }
}

@media (max-height: 641px) {
    .footer {
        max-height: 30%;
    }
}

@media(max-width: 360px){
    .navbar-brand {
        font-size: 14px !important;
    }
}
/**
 *  Other 
 */
.dialog-container {
    display: none;
}

/**
 * style of Error message 
 */
.message {
    box-shadow: 3px 4px 2px #888888;
}
/**
 * All heading related alert box
 */
.heading {
    background-color: #fff;
    border-left: 4px solid #4CAF50;
}
/**
 *  Page Loading Style [On Ajax Responce]
 */
.sk-fading-circle {
    left: 50%;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 46%;
}

.sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #622569;
    border: 1px solid #96ceb4;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
    animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}

.sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}

.sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}

.sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}

.sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}

.sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}

.sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}

.sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}

.sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
    0%,
    39%,
    100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

@keyframes sk-circleFadeDelay {
    0%,
    39%,
    100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}
