/**
 *--------------------------------------------------------------------------
 * Author        : Atanu Pramanik(dos.atanu@gmail.com)
 * Reviewed by   : Atanu Pramanik
 * Creation Date : 17/MAR/2017
 * Modified on   : 20/JUN/2017
 * Dependency    : NA
 * Description   : Map page CSS 
 * Execute like  : NA
 *--------------------------------------------------------------------------
 */
html,
body {
    width: 100%;
    height: 100%;
}
/**
 *-------------------------------
 * Needed for adjust height
 * -----------------------------
 */
.map{
    min-height: 480px;
    height: 100% !important;
    background-color: #f5f8fa;
}
.map > .canvas  {
    height: 95%;
}


/**
 *------------------------------
 * Main Map style
 *------------------------------
 */
.main-map {
    width: 100%;
    height: 100%;
    padding:0px;
}

#map{   
    width: 100%;
    height: 100%;
    position: relative;
}

div.fill {  
	width: 100%;    
    height: 100%;
    position: absolute;
}

/**
 *----------------------------------
 * Deafult Map controll style
 *----------------------------------
 */
.ol-zoom {
	top: unset !important;
	left: unset !important;
	bottom: 1.0em;
	right: .5em;
}
.ol-control button {
	font-size: 1.5em !important;
}
.ol-mouse-position {
    top: auto !important;
    bottom: .7em;
    right: 52% !important;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    color: #fbfbfb;
    background: rgba(0,60,136,.5);
}

/**
 *------------------------------
 * Map info popup box style
 *------------------------------
 */
.ol-popup {
    display: none;
    position: absolute;
    z-index: 999;
    left: -50px;
    bottom: 12px;
    /*min-width: 280px;*/
    padding: 10px 7px;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 2px;
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: solid transparent;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    color: #fff;
    top: -12px;
    right: -12px;
    width: 24px;
    height: 24px;
    font-weight: bold;
    position: absolute;
    cursor: pointer;
    text-align: center;
    line-height: 24px;
    background: #000;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0 0 1px #000;
}
.ol-popup-closer:after {
    content: "X";
}

#popup-content{
    display: table;
    width: 280px;
    max-height:300px;   
}

#popup-content .info-popup {
    margin: 7px 0 5px 0;
    display: block;
    overflow-x: hidden;
    max-height: 200px;
    overflow-y: auto;
}
#popup-content .info-popup table {
	width: 100%;
    border-collapse: collapse;
}
#popup-content .info-popup table td,.info-popup table th {
	padding: 5px;
    border: 1px dashed black;
    border-radius: 3px;
}

#popup-content .info-popup table tr td:first-child {
	width: 30%;
}

#popup-content .image-div {
    display: block;
    width: 100%;
    height: 125px;
    border: 1px solid #000;
}

#popup-content .image-div >  img {
    width: auto;
    height: 100%;
    margin : auto;
    display: block;
}