html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map-canvas {
    height: 100%;
}
#iw_container .iw_title {
    font-size: 16px;
    font-weight: bold;
}
.iw_content {
    width:70%;
    padding: 15px 15px 15px 0px;
}
.image_content{
/*    float: right;
    margin-top: -18%;
    width: 30%;*/
}