
@media only screen and (max-width: 1600px){
	
}

@media only screen and (max-width: 1360px){
	
}

@media only screen and (max-width: 1140px){
	
}

@media only screen and (min-width: 768px){
	
}

@media only screen and (max-width: 1023px){
	
	
}

@media only screen and (max-width: 767px){
	
	
}

@media only screen and (max-width: 599px){
	
}

@media only screen and (max-width: 499px) {
	
}
@media only screen and (max-width: 480px) {
	.login-area{width: 90%;}
        .info-login .form-ltPanel span{right: 90%;}
}
